<div class="p-4 surface-card border-round shadow-2">
  <h2 class="text-3xl font-bold text-center mb-5 text-primary">Client Table</h2>
  <p-table
    [value]="clients"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    responsiveLayout="scroll"
    class="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Type</th>
        <th>Active</th>
        <th class="text-right">Balance</th>
        <th class="text-right">Loan</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-client let-i="rowIndex">
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.clientType }}</td>
        <td>{{ client.isActive ? "Yes" : "No" }}</td>
        <td class="text-right">
          {{ client.bankBalance | currency : "LKR" : "symbol" : "1.2-2" }}
        </td>
        <td class="text-right">
          {{
            client.outstandingLoan || 0 | currency : "LKR" : "symbol" : "1.2-2"
          }}
        </td>
        <td>{{ client.registrationDate | date : "dd-MM-yyyy" }}</td>
        <td>
          <button
            pButton
            label="Delete"
            severity="danger"
            (click)="onDelete(i)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
